* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 50%;
  margin: 0 auto;
}

h2 {
  display: inline-block;
  margin-bottom: 0px;
}

.haut {
  width: 100%;
  position: absolute;
  background-color: white;
}

.space10 {
  display: inline-block;
  margin-right : 20px;
  border-radius: 50%;
}

.sponso {
  margin-left: 70px;
}

#clearfix {
  clear: both;
}

/* GLOBAL */

.publiKtion {
  display: block;
}

.sizefont {
  font-size: 5rem;
  position: relative;
  top: 0;
  right: 0;
}