* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 50%;
  margin: 0 auto;
}

h2 {
  display: inline-block;
  margin-bottom: 0px;
}

.haut {
  width: 100%;
  margin-bottom: 20px;
  background-color: white;
}

.space10 {
  display: inline-block;
  margin-right : 20px;
  border-radius: 50%;
}

.sponso {
  margin-left: 70px;
}

/* GLOBAL */

.imgCenter {
  display: block;
  width: 10rem;
}

.imgCenter img {
  width: 100%;
}

.sizefont {
  font-size: 5rem;
}

.iconS {
  display: flex;
  justify-content: space-between;
}

.bas {
  width: 100%;
  border-bottom: solid 1px;
}

.spaceDown {
  margin-bottom: 10rem;
}

#appMel {
  border: solid 1px;
}
